@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Jost-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Jost-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Jost-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Jost-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Jost-ExtraBold.woff2") format("woff2");
}
* {
  font-family: Jost;
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
}

header {
  padding-top: 24px;
}

#header-menu {
  list-style: none;
  float: right;
  margin-top: 0;
}
#header-menu a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #1B1B1D;
}
#header-menu li {
  display: inline-block;
  margin-right: 40px;
  vertical-align: middle;
}
#header-menu li:nth-child(5) {
  margin-right: 20px;
}
#header-menu li:last-child {
  margin-right: 0;
}

.container {
  max-width: 82%;
  margin: auto;
}

#greeting-sec {
  height: 100vh;
  background-color: #EEEFF1;
}
#greeting-sec h1 {
  font-size: 124px;
  line-height: 140px;
  margin-bottom: 30px;
}
#greeting-sec p {
  font-size: 24px;
  color: #64646A;
  margin-bottom: 30px;
}

#greeting-info {
  display: flex;
  position: absolute;
  top: 50%;
  max-width: 1240px;
  transform: translateY(-50%);
  margin: 0 -5px;
}

#backet-btn {
  border-radius: 50%;
  background-color: #FFFFFF;
  height: 56px;
  position: relative;
}
#backet-btn img {
  padding: 16px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1B1B1D;
}
.btn a {
  text-decoration: none;
  position: absolute;
  color: #FFFFFF !important;
  font-weight: 500;
  text-transform: uppercase;
}

#voucher-btn {
  height: 56px;
  width: 208px;
  border-radius: 63px;
}
#voucher-btn a {
  color: #FFFFFF !important;
}

#download-btn, .explore-btn {
  height: 70px;
  width: 225px;
  border-radius: 126px;
  margin-right: 30px;
}

#shop-link {
  font-size: 18px;
  color: #1B1B1D;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid #1B1B1D;
}

.greeting-links {
  display: flex;
  align-items: center;
}

#greeting-imgs {
  position: relative;
}
#greeting-imgs img:last-child {
  right: 0;
  position: absolute;
  top: 31px;
}

#circles {
  position: absolute;
  top: 92px;
  right: 42px;
}

#rating {
  background-color: #FFFFFF;
  border-radius: 24px;
  font-size: 19px;
  color: #64646A;
  width: 272.1px;
  height: 140px;
  padding: 20px 20.05px;
  box-sizing: border-box;
  position: absolute;
  top: 391px;
  left: 42px;
}

h2 {
  font-size: 64px;
  font-weight: 800;
}

#explore-sec {
  height: 100vh;
}
#explore-sec .container {
  position: relative;
  top: 140px;
}
#explore-sec h2 {
  text-align: center;
}
#explore-sec h2 ~ p {
  margin: 0 auto;
  display: block;
  max-width: 604px;
  text-align: center;
  margin-bottom: 90px;
}
#explore-sec h3 {
  max-width: 318px;
  font-size: 36px;
  left: 39px;
}
#explore-sec p {
  display: block;
  max-width: 318px;
  font-size: 24px;
  color: #64646A;
}

#explore-cards {
  display: flex;
  position: relative;
  justify-content: space-between;
}
#explore-cards article {
  width: 394px;
  height: 540px;
  background: #FFFFFF;
  filter: drop-shadow(0px 30px 60px rgba(163, 168, 179, 0.15));
  border-radius: 24px;
}
#explore-cards article img {
  position: absolute;
  top: 230px;
}
#explore-cards article h3 {
  position: absolute;
  top: 40px;
}
#explore-cards article p {
  position: absolute;
  top: 100px;
  left: 39px;
}

.graphics {
  display: flex;
  justify-content: center;
}

.explore-btn {
  position: absolute;
  top: 440px;
  height: 60px;
  margin-right: 0;
}

#order-sec {
  margin-bottom: 40px;
}
#order-sec .container {
  display: flex;
}
#order-sec h3 {
  font-size: 64px;
  line-height: 70px;
  display: inline;
}
#order-sec p {
  position: relative;
  top: 30px;
  font-size: 24px;
  color: #64646A;
  line-height: 34px;
  margin-bottom: 60px;
}
#order-sec img {
  max-height: 472px;
}

#order-info {
  position: relative;
  display: inline-block;
  top: 15px;
  vertical-align: top;
}

#order-btn {
  width: 191px;
  height: 70px;
  border-radius: 97px;
}

footer {
  margin-top: 140px;
  margin-bottom: 100px;
}
footer #footer-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
footer #logo {
  width: 307px;
  margin-bottom: 40px;
}
footer p, footer a {
  color: #64646A;
}
footer a {
  font-size: 30px;
  text-decoration: none;
  margin-bottom: 30px;
}
footer h3 {
  font-size: 40px;
  margin-bottom: 30px;
}
footer address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 413px;
}
footer #title {
  font-weight: 500;
  color: #1B1B1D;
}
footer #copyright {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  color: #64646A;
}
footer p {
  font-size: 30px;
  width: 558px;
  line-height: 40px;
}

.circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.2784313725);
  vertical-align: middle;
  margin-right: 24px;
}

#social-media .circle {
  margin-right: 24px;
}

#store-locs {
  margin-top: 90px;
}
#store-locs a {
  display: inline-block;
  color: #1B1B1D;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  margin-top: 30px;
  vertical-align: middle;
}
#store-locs img {
  vertical-align: middle;
  margin-left: 4px;
}

#store-locs ~ div {
  margin-top: 90px;
  width: 413px;
  height: 250px;
}
#store-locs ~ div h3 {
  display: inline-block;
}
#store-locs ~ div input {
  width: 413px;
  height: 70px;
  border-radius: 65px;
  border: none;
  box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.2784313725);
  padding-left: 30px;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 22px;
  margin-bottom: 30px;
}
#store-locs ~ div a {
  font-size: 18px;
  margin-bottom: 0;
}

#subscribe-btn {
  width: 173px;
  height: 70px;
  border-radius: 126px;
}

.line {
  border-top: 1px solid #1B1B1D;
  opacity: 0.2;
  margin-top: 80px;
  margin-bottom: 40px;
}

#feedback .container {
  margin-top: 30px;
}
#feedback h2 {
  line-height: 70px;
  text-align: center;
  margin: 0 auto 40px auto;
}
#feedback #rate-info {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
#feedback #customers-rate {
  font-weight: 600;
  font-size: 40px;
  margin-right: 24px;
}
#feedback #customers-rate ~ div {
  display: flex;
  flex-direction: column;
}
#feedback #customers-rate ~ div img {
  width: 120px;
}
#feedback #reviews-count-info {
  color: #64646A;
  font-size: 20px;
}
#feedback .swiper {
  position: relative;
  width: 82%;
}
#feedback .swiper-slide article {
  border-radius: 16px;
  box-shadow: 0px 20px 60px 0px rgba(163, 168, 178, 0.15);
  height: 100%;
}
#feedback .swiper-slide h4 {
  font-size: 24px;
  margin-right: 16px;
}
#feedback .swiper-slide .feedback-header {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 43px;
}
#feedback .swiper-slide .client-logo {
  width: 100%;
}
#feedback .swiper-slide p {
  font-size: 20px;
  margin-top: 32px;
  width: 387px;
  margin-left: 43px;
}
#feedback #cards {
  position: relative;
}
#feedback .swiper-button-next::after, #feedback .swiper-rtl .swiper-button-prev::after {
  display: none;
}
#feedback .swiper-button-prev, #feedback .swiper-button-next {
  top: 50% !important;
}
#feedback .swiper-button-prev::after, #feedback .swiper-button-next::after {
  display: none;
}

@media (min-width: 340px) and (max-width: 479px) {
  #feedback .container {
    margin-top: 60px !important;
  }
  #feedback h2 {
    font-size: 2rem;
    margin: 0 auto 10px auto !important;
    line-height: 45px !important;
  }
  #feedback p {
    font-size: 1rem !important;
    margin-left: 10px !important;
    margin-top: 15px !important;
    line-height: 20px;
    width: 98% !important;
  }
  #reviews-count-info {
    font-size: 1.4rem !important;
  }
  #customers-rate {
    font-size: 1.3rem !important;
  }
  #rate-info {
    align-items: center;
    margin-bottom: 25px !important;
  }
  .feedback-header {
    margin-left: 5px !important;
    margin-top: 10px !important;
    line-height: 30px;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    left: 94% !important;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    right: 94% !important;
    left: auto !important;
  }
}
@media (min-width: 480px) and (orientation: portrait) {
  #feedback .container {
    margin-top: 90px !important;
  }
  #feedback h2 {
    font-size: 3rem;
  }
  #feedback .swiper-slide p {
    width: 90% !important;
    margin-left: 14px !important;
  }
  #feedback .feedback-header {
    margin-left: 14px !important;
    margin-top: 14px !important;
  }
}
@media (min-width: 480px) and (orientation: landscape) and (max-width: 999px) {
  #feedback .container {
    margin-top: 12px !important;
  }
  #feedback h2 {
    font-size: 3rem !important;
    line-height: 23px !important;
    margin-bottom: 27px !important;
  }
  #feedback .feedback-header {
    margin-top: 4px !important;
    margin-left: 14px !important;
  }
  #feedback .swiper-slide {
    transform: scale(0.9);
    margin-top: 0 !important;
  }
  #feedback #rate-info {
    margin-bottom: 0px !important;
  }
  #feedback .swiper-slide {
    bottom: 13px;
  }
  #feedback .swiper-slide p {
    width: 90% !important;
    margin-left: 14px !important;
    margin-top: 15px;
  }
}
@media (min-width: 1000px) and (max-width: 1365px) {
  #feedback .container {
    margin-top: 36px !important;
  }
  #feedback h2 {
    font-size: 3rem !important;
    line-height: 70px !important;
    margin-bottom: min(40px, 3%) !important;
  }
  #feedback h4 {
    display: inline !important;
    font-size: 20px !important;
  }
  #feedback #rate-info {
    margin-bottom: 18px !important;
  }
  #feedback .feedback-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 14px !important;
    margin-top: min(40px, 5%) !important;
  }
  #feedback .feedback-header img {
    margin-right: 5px !important;
  }
  #feedback .swiper-slide {
    transform: scale(1);
    bottom: 0;
  }
  #feedback .swiper-slide article {
    box-shadow: 0px 20px 60px 5px rgba(163, 168, 178, 0.15);
    height: 100%;
    border-radius: 16px;
  }
  #feedback p {
    font-size: 20px !important;
    line-height: 23px;
    max-width: 100%;
    margin-left: min(14px, 3%) !important;
  }
}
@media (min-width: 1366px) and (max-width: 1439px) {
  .swiper-slide {
    transform: scale(0.9) !important;
  }
  #rate-info {
    margin-bottom: 0 !important;
  }
  h2 {
    font-size: 2.8rem !important;
    margin-bottom: 8px !important;
  }
}
@media (min-width: 1440px) {
  .swiper-slide p {
    width: 90% !important;
  }
  .feedback-header {
    justify-content: space-between;
    margin-right: 3%;
  }
}
@media (min-width: 340px) and (max-width: 479px) {
  #order-sec .container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #order-sec .container h3 {
    font-size: 2rem !important;
    line-height: 45px !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #order-sec .container img {
    max-height: 400px !important;
    object-fit: contain;
    width: 100%;
    margin-top: 50px;
  }
}
@media (min-width: 480px) and (orientation: portrait) and (max-width: 999px) {
  #order-sec .container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #order-sec .container h3 {
    font-size: 3rem !important;
    line-height: 70px !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #order-sec .container img {
    max-height: 400px !important;
    object-fit: contain;
    width: 100%;
    margin-top: 50px;
  }
}
@media (min-width: 480px) and (orientation: landscape) and (max-width: 999px) {
  #order-sec {
    margin-top: 60px;
  }
  #order-sec h3 {
    font-size: 36px;
    line-height: 40px;
  }
  #order-sec img {
    max-height: 400px !important;
    object-fit: contain;
    width: 60%;
    margin-top: 50px;
  }
}
@media (min-width: 1000px) and (max-width: 1365px) {
  #order-sec {
    margin-top: 60px;
  }
  #order-sec p {
    font-size: 22px;
  }
  #order-sec img {
    max-height: 400px !important;
    object-fit: contain;
    width: 60%;
    margin-top: 50px;
  }
  h3 {
    font-size: 3rem !important;
    line-height: 70px !important;
  }
}
@media (min-width: 1366px) and (max-width: 1439px) {
  #order-sec {
    margin-top: 120px;
  }
  h3 {
    font-size: 2.8rem !important;
    line-height: 60px !important;
  }
}
@media (min-width: 340px) and (max-width: 479px) {
  #explore-sec {
    height: auto;
  }
  #explore-sec .container {
    top: 40px;
  }
  #explore-sec p {
    margin-bottom: 8px !important;
  }
  #explore-sec h3 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 2rem;
    margin: 0 auto 10px auto !important;
    line-height: 45px !important;
  }
  #explore-cards {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 480px) and (orientation: portrait) {
  #explore-sec {
    height: auto;
  }
  #explore-sec .container {
    top: 40px;
  }
  #explore-sec p {
    margin-bottom: 0 !important;
  }
  #explore-sec h2 {
    font-size: 2rem;
    margin: 0 auto 10px auto !important;
    line-height: 45px !important;
  }
  #explore-cards {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 480px) and (orientation: landscape) and (max-width: 999px) {
  #explore-sec {
    height: auto;
    width: 100vw;
  }
  #explore-sec .container {
    top: 40px;
  }
  #explore-sec #explore-cards {
    width: 100%;
  }
  #explore-sec p {
    margin-bottom: 0 !important;
  }
  #explore-sec h2 {
    font-size: 3rem;
  }
  #explore-sec h3 {
    font-size: 2rem !important;
    white-space: nowrap;
  }
}
@media (min-width: 1000px) and (max-width: 1365px) {
  #explore-sec {
    height: auto;
    width: 100vw;
  }
  #explore-sec .container {
    top: 40px;
  }
  #explore-sec #explore-cards {
    width: 100%;
  }
  #explore-sec p {
    margin-bottom: 0 !important;
  }
  #explore-sec h2 {
    font-size: 3rem;
  }
  #explore-sec h3 {
    font-size: 2rem !important;
    white-space: nowrap;
  }
}
@media (min-width: 1366px) and (max-width: 1439px) {
  #explore-sec {
    height: auto;
  }
  #explore-sec .container {
    top: 70px;
  }
  #explore-sec p {
    margin-bottom: 30px !important;
  }
}

/*# sourceMappingURL=main.css.map */
